Foursnac/Service References/wsSonicBliss/wsSB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sonicbliss.com.br" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sonicbliss.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sonicbliss.com.br">
      <s:element name="getPedidos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPedidosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPedidosResult" type="tns:ArrayOfPedidos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPedidos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pedidos" nillable="true" type="tns:Pedidos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pedidos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdEstabelecimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bandeira" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormaPgto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdUsuarioweb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroPedido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Obs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCartao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalItens" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPedido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrocoPara" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Frete" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_PEDIDO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPedidoResult" type="tns:Pedidos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomethingTodo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_MAQUINA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomethingTodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SomethingTodoResult" type="tns:ArrayOfHasSomethingToDo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHasSomethingToDo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HasSomethingToDo" nillable="true" type="tns:HasSomethingToDo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HasSomethingToDo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdEstabelecimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="What" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Who" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InProgress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsDone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdSB" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getDadosEstabelecimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDadosEstabelecimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDadosEstabelecimentoResult" type="tns:Estabelecimento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Estabelecimento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Faturamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtdVendas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdModalidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdPlano" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdTipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Slogan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Views" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getDadosEstabelecimentoByCNPJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDadosEstabelecimentoByCNPJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDadosEstabelecimentoByCNPJResult" type="tns:Estabelecimento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABLECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInfosResult" type="tns:Informacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Informacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Site" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sobre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getItensPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_PEDIDO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getItensPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getItensPedidoResult" type="tns:ArrayOfItens" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItens">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Itens" nillable="true" type="tns:Itens" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Itens">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdPedido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Qtde" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getItensAdicioanis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_PEDIDO_ITEM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getItensAdicioanisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getItensAdicioanisResult" type="tns:ArrayOfITENS_ADICIONAIS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfITENS_ADICIONAIS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ITENS_ADICIONAIS" nillable="true" type="tns:ITENS_ADICIONAIS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ITENS_ADICIONAIS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdPedidoItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdAdicional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Qtde" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DadosCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_CLIENTE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DadosClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DadosClienteResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nascimento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_NOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="K_FOURSNAC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadParameterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMaquinaImpressao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MAQUINA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMaquinaImpressaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMaquinaImpressaoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimeClear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_SB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimeClearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TimeClearResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarParametro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_NOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_VALOR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarParametroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SalvarParametroResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEnderecoUsuarioweb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_CLIENTE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_ENDERECO_WEB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEnderecoUsuariowebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEnderecoUsuariowebResult" type="tns:EnderecoWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EnderecoWeb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarFaturamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_INICIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATA_FINAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarFaturamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarFaturamentoResult" type="tns:ArrayOfFATURAMENTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFATURAMENTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FATURAMENTO" nillable="true" type="tns:FATURAMENTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FATURAMENTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdEstabelecimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estabelecimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPedidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalValor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtdeDelivery" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtdePickup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalDelivery" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPickup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarEstabelecimentos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEstabelecimentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarEstabelecimentosResult" type="tns:ArrayOfEstabelecimento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEstabelecimento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Estabelecimento" nillable="true" type="tns:Estabelecimento" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarCep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarCepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarCepResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmaUrlEstabelecimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmaUrlEstabelecimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmaUrlEstabelecimentoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_PEDIDO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ASSUNTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BODY_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarEmailPadrao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CAMPOS" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="CORPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BODY_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_TO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_NOME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ASSUNTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_FROM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarEmailPadraoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarEmailPadraoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinalizaToDo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_TODO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID_ESTABELECIMENTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinalizaToDoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FinalizaToDoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUsuarioWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonUsuarioWeb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUsuarioWebResponse">
        <s:complexType />
      </s:element>
      <s:element name="JSONStringify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VALOR" />
            <s:element minOccurs="0" maxOccurs="1" name="WEB_KEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JSONStringifyResponse">
        <s:complexType />
      </s:element>
      <s:element name="ArrayOfPedidos" nillable="true" type="tns:ArrayOfPedidos" />
      <s:element name="Pedidos" nillable="true" type="tns:Pedidos" />
      <s:element name="ArrayOfHasSomethingToDo" nillable="true" type="tns:ArrayOfHasSomethingToDo" />
      <s:element name="Estabelecimento" nillable="true" type="tns:Estabelecimento" />
      <s:element name="Informacao" nillable="true" type="tns:Informacao" />
      <s:element name="ArrayOfItens" nillable="true" type="tns:ArrayOfItens" />
      <s:element name="ArrayOfITENS_ADICIONAIS" nillable="true" type="tns:ArrayOfITENS_ADICIONAIS" />
      <s:element name="Cliente" nillable="true" type="tns:Cliente" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="EnderecoWeb" nillable="true" type="tns:EnderecoWeb" />
      <s:element name="ArrayOfFATURAMENTO" nillable="true" type="tns:ArrayOfFATURAMENTO" />
      <s:element name="ArrayOfEstabelecimento" nillable="true" type="tns:ArrayOfEstabelecimento" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPedidosSoapIn">
    <wsdl:part name="parameters" element="tns:getPedidos" />
  </wsdl:message>
  <wsdl:message name="getPedidosSoapOut">
    <wsdl:part name="parameters" element="tns:getPedidosResponse" />
  </wsdl:message>
  <wsdl:message name="getPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:getPedido" />
  </wsdl:message>
  <wsdl:message name="getPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:getPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="SomethingTodoSoapIn">
    <wsdl:part name="parameters" element="tns:SomethingTodo" />
  </wsdl:message>
  <wsdl:message name="SomethingTodoSoapOut">
    <wsdl:part name="parameters" element="tns:SomethingTodoResponse" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoSoapIn">
    <wsdl:part name="parameters" element="tns:getDadosEstabelecimento" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoSoapOut">
    <wsdl:part name="parameters" element="tns:getDadosEstabelecimentoResponse" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoByCNPJSoapIn">
    <wsdl:part name="parameters" element="tns:getDadosEstabelecimentoByCNPJ" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoByCNPJSoapOut">
    <wsdl:part name="parameters" element="tns:getDadosEstabelecimentoByCNPJResponse" />
  </wsdl:message>
  <wsdl:message name="getInfosSoapIn">
    <wsdl:part name="parameters" element="tns:getInfos" />
  </wsdl:message>
  <wsdl:message name="getInfosSoapOut">
    <wsdl:part name="parameters" element="tns:getInfosResponse" />
  </wsdl:message>
  <wsdl:message name="getItensPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:getItensPedido" />
  </wsdl:message>
  <wsdl:message name="getItensPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:getItensPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="getItensAdicioanisSoapIn">
    <wsdl:part name="parameters" element="tns:getItensAdicioanis" />
  </wsdl:message>
  <wsdl:message name="getItensAdicioanisSoapOut">
    <wsdl:part name="parameters" element="tns:getItensAdicioanisResponse" />
  </wsdl:message>
  <wsdl:message name="DadosClienteSoapIn">
    <wsdl:part name="parameters" element="tns:DadosCliente" />
  </wsdl:message>
  <wsdl:message name="DadosClienteSoapOut">
    <wsdl:part name="parameters" element="tns:DadosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="LoadParameterSoapIn">
    <wsdl:part name="parameters" element="tns:LoadParameter" />
  </wsdl:message>
  <wsdl:message name="LoadParameterSoapOut">
    <wsdl:part name="parameters" element="tns:LoadParameterResponse" />
  </wsdl:message>
  <wsdl:message name="SetMaquinaImpressaoSoapIn">
    <wsdl:part name="parameters" element="tns:SetMaquinaImpressao" />
  </wsdl:message>
  <wsdl:message name="SetMaquinaImpressaoSoapOut">
    <wsdl:part name="parameters" element="tns:SetMaquinaImpressaoResponse" />
  </wsdl:message>
  <wsdl:message name="TimeClearSoapIn">
    <wsdl:part name="parameters" element="tns:TimeClear" />
  </wsdl:message>
  <wsdl:message name="TimeClearSoapOut">
    <wsdl:part name="parameters" element="tns:TimeClearResponse" />
  </wsdl:message>
  <wsdl:message name="SalvarParametroSoapIn">
    <wsdl:part name="parameters" element="tns:SalvarParametro" />
  </wsdl:message>
  <wsdl:message name="SalvarParametroSoapOut">
    <wsdl:part name="parameters" element="tns:SalvarParametroResponse" />
  </wsdl:message>
  <wsdl:message name="getEnderecoUsuariowebSoapIn">
    <wsdl:part name="parameters" element="tns:getEnderecoUsuarioweb" />
  </wsdl:message>
  <wsdl:message name="getEnderecoUsuariowebSoapOut">
    <wsdl:part name="parameters" element="tns:getEnderecoUsuariowebResponse" />
  </wsdl:message>
  <wsdl:message name="listarFaturamentoSoapIn">
    <wsdl:part name="parameters" element="tns:listarFaturamento" />
  </wsdl:message>
  <wsdl:message name="listarFaturamentoSoapOut">
    <wsdl:part name="parameters" element="tns:listarFaturamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEstabelecimentosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarEstabelecimentos" />
  </wsdl:message>
  <wsdl:message name="ListarEstabelecimentosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarEstabelecimentosResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarCepSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarCep" />
  </wsdl:message>
  <wsdl:message name="ConsultarCepSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarCepResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmaUrlEstabelecimentoSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmaUrlEstabelecimento" />
  </wsdl:message>
  <wsdl:message name="ConfirmaUrlEstabelecimentoSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmaUrlEstabelecimentoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarEmail" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarEmailResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailPadraoSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarEmailPadrao" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailPadraoSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarEmailPadraoResponse" />
  </wsdl:message>
  <wsdl:message name="FinalizaToDoSoapIn">
    <wsdl:part name="parameters" element="tns:FinalizaToDo" />
  </wsdl:message>
  <wsdl:message name="FinalizaToDoSoapOut">
    <wsdl:part name="parameters" element="tns:FinalizaToDoResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUsuarioWebSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUsuarioWeb" />
  </wsdl:message>
  <wsdl:message name="CreateUsuarioWebSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUsuarioWebResponse" />
  </wsdl:message>
  <wsdl:message name="JSONStringifySoapIn">
    <wsdl:part name="parameters" element="tns:JSONStringify" />
  </wsdl:message>
  <wsdl:message name="JSONStringifySoapOut">
    <wsdl:part name="parameters" element="tns:JSONStringifyResponse" />
  </wsdl:message>
  <wsdl:message name="getPedidosHttpGetIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPedidosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedidos" />
  </wsdl:message>
  <wsdl:message name="getPedidoHttpGetIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="ID_PEDIDO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPedidoHttpGetOut">
    <wsdl:part name="Body" element="tns:Pedidos" />
  </wsdl:message>
  <wsdl:message name="SomethingTodoHttpGetIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="ID_MAQUINA" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SomethingTodoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfHasSomethingToDo" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoHttpGetIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoHttpGetOut">
    <wsdl:part name="Body" element="tns:Estabelecimento" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoByCNPJHttpGetIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoByCNPJHttpGetOut">
    <wsdl:part name="Body" element="tns:Estabelecimento" />
  </wsdl:message>
  <wsdl:message name="getInfosHttpGetIn">
    <wsdl:part name="ID_ESTABLECIMENTO" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getInfosHttpGetOut">
    <wsdl:part name="Body" element="tns:Informacao" />
  </wsdl:message>
  <wsdl:message name="getItensPedidoHttpGetIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="ID_PEDIDO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getItensPedidoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfItens" />
  </wsdl:message>
  <wsdl:message name="getItensAdicioanisHttpGetIn">
    <wsdl:part name="ID_PEDIDO_ITEM" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getItensAdicioanisHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfITENS_ADICIONAIS" />
  </wsdl:message>
  <wsdl:message name="DadosClienteHttpGetIn">
    <wsdl:part name="ID_CLIENTE" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DadosClienteHttpGetOut">
    <wsdl:part name="Body" element="tns:Cliente" />
  </wsdl:message>
  <wsdl:message name="LoadParameterHttpGetIn">
    <wsdl:part name="P_NOME" type="s:string" />
    <wsdl:part name="P_TIPO" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="K_FOURSNAC" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadParameterHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetMaquinaImpressaoHttpGetIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="MAQUINA" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetMaquinaImpressaoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TimeClearHttpGetIn">
    <wsdl:part name="ID_SB" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TimeClearHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SalvarParametroHttpGetIn">
    <wsdl:part name="P_NOME" type="s:string" />
    <wsdl:part name="P_VALOR" type="s:string" />
    <wsdl:part name="P_TIPO" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SalvarParametroHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="getEnderecoUsuariowebHttpGetIn">
    <wsdl:part name="ID_CLIENTE" type="s:string" />
    <wsdl:part name="ID_ENDERECO_WEB" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEnderecoUsuariowebHttpGetOut">
    <wsdl:part name="Body" element="tns:EnderecoWeb" />
  </wsdl:message>
  <wsdl:message name="listarFaturamentoHttpGetIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="DATA_INICIO" type="s:string" />
    <wsdl:part name="DATA_FINAL" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listarFaturamentoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfFATURAMENTO" />
  </wsdl:message>
  <wsdl:message name="ListarEstabelecimentosHttpGetIn">
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarEstabelecimentosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfEstabelecimento" />
  </wsdl:message>
  <wsdl:message name="ConsultarCepHttpGetIn">
    <wsdl:part name="WEB_KEY" type="s:string" />
    <wsdl:part name="cep" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarCepHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmaUrlEstabelecimentoHttpGetIn">
    <wsdl:part name="WEB_KEY" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmaUrlEstabelecimentoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailHttpGetIn">
    <wsdl:part name="ID_PEDIDO" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="ASSUNTO" type="s:string" />
    <wsdl:part name="BODY_NAME" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="FinalizaToDoHttpGetIn">
    <wsdl:part name="ID_TODO" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FinalizaToDoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CreateUsuarioWebHttpGetIn">
    <wsdl:part name="JsonUsuarioWeb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateUsuarioWebHttpGetOut" />
  <wsdl:message name="getPedidosHttpPostIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPedidosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedidos" />
  </wsdl:message>
  <wsdl:message name="getPedidoHttpPostIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="ID_PEDIDO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPedidoHttpPostOut">
    <wsdl:part name="Body" element="tns:Pedidos" />
  </wsdl:message>
  <wsdl:message name="SomethingTodoHttpPostIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="ID_MAQUINA" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SomethingTodoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfHasSomethingToDo" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoHttpPostIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoHttpPostOut">
    <wsdl:part name="Body" element="tns:Estabelecimento" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoByCNPJHttpPostIn">
    <wsdl:part name="CNPJ" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDadosEstabelecimentoByCNPJHttpPostOut">
    <wsdl:part name="Body" element="tns:Estabelecimento" />
  </wsdl:message>
  <wsdl:message name="getInfosHttpPostIn">
    <wsdl:part name="ID_ESTABLECIMENTO" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getInfosHttpPostOut">
    <wsdl:part name="Body" element="tns:Informacao" />
  </wsdl:message>
  <wsdl:message name="getItensPedidoHttpPostIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="ID_PEDIDO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getItensPedidoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfItens" />
  </wsdl:message>
  <wsdl:message name="getItensAdicioanisHttpPostIn">
    <wsdl:part name="ID_PEDIDO_ITEM" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getItensAdicioanisHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfITENS_ADICIONAIS" />
  </wsdl:message>
  <wsdl:message name="DadosClienteHttpPostIn">
    <wsdl:part name="ID_CLIENTE" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DadosClienteHttpPostOut">
    <wsdl:part name="Body" element="tns:Cliente" />
  </wsdl:message>
  <wsdl:message name="LoadParameterHttpPostIn">
    <wsdl:part name="P_NOME" type="s:string" />
    <wsdl:part name="P_TIPO" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="K_FOURSNAC" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadParameterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetMaquinaImpressaoHttpPostIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="MAQUINA" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetMaquinaImpressaoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TimeClearHttpPostIn">
    <wsdl:part name="ID_SB" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TimeClearHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SalvarParametroHttpPostIn">
    <wsdl:part name="P_NOME" type="s:string" />
    <wsdl:part name="P_VALOR" type="s:string" />
    <wsdl:part name="P_TIPO" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SalvarParametroHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="getEnderecoUsuariowebHttpPostIn">
    <wsdl:part name="ID_CLIENTE" type="s:string" />
    <wsdl:part name="ID_ENDERECO_WEB" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEnderecoUsuariowebHttpPostOut">
    <wsdl:part name="Body" element="tns:EnderecoWeb" />
  </wsdl:message>
  <wsdl:message name="listarFaturamentoHttpPostIn">
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="DATA_INICIO" type="s:string" />
    <wsdl:part name="DATA_FINAL" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listarFaturamentoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfFATURAMENTO" />
  </wsdl:message>
  <wsdl:message name="ListarEstabelecimentosHttpPostIn">
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarEstabelecimentosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfEstabelecimento" />
  </wsdl:message>
  <wsdl:message name="ConsultarCepHttpPostIn">
    <wsdl:part name="WEB_KEY" type="s:string" />
    <wsdl:part name="cep" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarCepHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmaUrlEstabelecimentoHttpPostIn">
    <wsdl:part name="WEB_KEY" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmaUrlEstabelecimentoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailHttpPostIn">
    <wsdl:part name="ID_PEDIDO" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="ASSUNTO" type="s:string" />
    <wsdl:part name="BODY_NAME" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="FinalizaToDoHttpPostIn">
    <wsdl:part name="ID_TODO" type="s:string" />
    <wsdl:part name="ID_ESTABELECIMENTO" type="s:string" />
    <wsdl:part name="WEB_KEY" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FinalizaToDoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CreateUsuarioWebHttpPostIn">
    <wsdl:part name="JsonUsuarioWeb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateUsuarioWebHttpPostOut" />
  <wsdl:portType name="wsSBSoap">
    <wsdl:operation name="getPedidos">
      <wsdl:input message="tns:getPedidosSoapIn" />
      <wsdl:output message="tns:getPedidosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <wsdl:input message="tns:getPedidoSoapIn" />
      <wsdl:output message="tns:getPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SomethingTodo">
      <wsdl:input message="tns:SomethingTodoSoapIn" />
      <wsdl:output message="tns:SomethingTodoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimento">
      <wsdl:input message="tns:getDadosEstabelecimentoSoapIn" />
      <wsdl:output message="tns:getDadosEstabelecimentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimentoByCNPJ">
      <wsdl:input message="tns:getDadosEstabelecimentoByCNPJSoapIn" />
      <wsdl:output message="tns:getDadosEstabelecimentoByCNPJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <wsdl:input message="tns:getInfosSoapIn" />
      <wsdl:output message="tns:getInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getItensPedido">
      <wsdl:input message="tns:getItensPedidoSoapIn" />
      <wsdl:output message="tns:getItensPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getItensAdicioanis">
      <wsdl:input message="tns:getItensAdicioanisSoapIn" />
      <wsdl:output message="tns:getItensAdicioanisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DadosCliente">
      <wsdl:input message="tns:DadosClienteSoapIn" />
      <wsdl:output message="tns:DadosClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadParameter">
      <wsdl:input message="tns:LoadParameterSoapIn" />
      <wsdl:output message="tns:LoadParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMaquinaImpressao">
      <wsdl:input message="tns:SetMaquinaImpressaoSoapIn" />
      <wsdl:output message="tns:SetMaquinaImpressaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimeClear">
      <wsdl:input message="tns:TimeClearSoapIn" />
      <wsdl:output message="tns:TimeClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvarParametro">
      <wsdl:input message="tns:SalvarParametroSoapIn" />
      <wsdl:output message="tns:SalvarParametroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEnderecoUsuarioweb">
      <wsdl:input message="tns:getEnderecoUsuariowebSoapIn" />
      <wsdl:output message="tns:getEnderecoUsuariowebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarFaturamento">
      <wsdl:input message="tns:listarFaturamentoSoapIn" />
      <wsdl:output message="tns:listarFaturamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEstabelecimentos">
      <wsdl:input message="tns:ListarEstabelecimentosSoapIn" />
      <wsdl:output message="tns:ListarEstabelecimentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCep">
      <wsdl:input message="tns:ConsultarCepSoapIn" />
      <wsdl:output message="tns:ConsultarCepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmaUrlEstabelecimento">
      <wsdl:input message="tns:ConfirmaUrlEstabelecimentoSoapIn" />
      <wsdl:output message="tns:ConfirmaUrlEstabelecimentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <wsdl:input message="tns:EnviarEmailSoapIn" />
      <wsdl:output message="tns:EnviarEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailPadrao">
      <wsdl:input message="tns:EnviarEmailPadraoSoapIn" />
      <wsdl:output message="tns:EnviarEmailPadraoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizaToDo">
      <wsdl:input message="tns:FinalizaToDoSoapIn" />
      <wsdl:output message="tns:FinalizaToDoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUsuarioWeb">
      <wsdl:input message="tns:CreateUsuarioWebSoapIn" />
      <wsdl:output message="tns:CreateUsuarioWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JSONStringify">
      <wsdl:input message="tns:JSONStringifySoapIn" />
      <wsdl:output message="tns:JSONStringifySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsSBHttpGet">
    <wsdl:operation name="getPedidos">
      <wsdl:input message="tns:getPedidosHttpGetIn" />
      <wsdl:output message="tns:getPedidosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <wsdl:input message="tns:getPedidoHttpGetIn" />
      <wsdl:output message="tns:getPedidoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SomethingTodo">
      <wsdl:input message="tns:SomethingTodoHttpGetIn" />
      <wsdl:output message="tns:SomethingTodoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimento">
      <wsdl:input message="tns:getDadosEstabelecimentoHttpGetIn" />
      <wsdl:output message="tns:getDadosEstabelecimentoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimentoByCNPJ">
      <wsdl:input message="tns:getDadosEstabelecimentoByCNPJHttpGetIn" />
      <wsdl:output message="tns:getDadosEstabelecimentoByCNPJHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <wsdl:input message="tns:getInfosHttpGetIn" />
      <wsdl:output message="tns:getInfosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getItensPedido">
      <wsdl:input message="tns:getItensPedidoHttpGetIn" />
      <wsdl:output message="tns:getItensPedidoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getItensAdicioanis">
      <wsdl:input message="tns:getItensAdicioanisHttpGetIn" />
      <wsdl:output message="tns:getItensAdicioanisHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DadosCliente">
      <wsdl:input message="tns:DadosClienteHttpGetIn" />
      <wsdl:output message="tns:DadosClienteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadParameter">
      <wsdl:input message="tns:LoadParameterHttpGetIn" />
      <wsdl:output message="tns:LoadParameterHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMaquinaImpressao">
      <wsdl:input message="tns:SetMaquinaImpressaoHttpGetIn" />
      <wsdl:output message="tns:SetMaquinaImpressaoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TimeClear">
      <wsdl:input message="tns:TimeClearHttpGetIn" />
      <wsdl:output message="tns:TimeClearHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvarParametro">
      <wsdl:input message="tns:SalvarParametroHttpGetIn" />
      <wsdl:output message="tns:SalvarParametroHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getEnderecoUsuarioweb">
      <wsdl:input message="tns:getEnderecoUsuariowebHttpGetIn" />
      <wsdl:output message="tns:getEnderecoUsuariowebHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="listarFaturamento">
      <wsdl:input message="tns:listarFaturamentoHttpGetIn" />
      <wsdl:output message="tns:listarFaturamentoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEstabelecimentos">
      <wsdl:input message="tns:ListarEstabelecimentosHttpGetIn" />
      <wsdl:output message="tns:ListarEstabelecimentosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCep">
      <wsdl:input message="tns:ConsultarCepHttpGetIn" />
      <wsdl:output message="tns:ConsultarCepHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmaUrlEstabelecimento">
      <wsdl:input message="tns:ConfirmaUrlEstabelecimentoHttpGetIn" />
      <wsdl:output message="tns:ConfirmaUrlEstabelecimentoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <wsdl:input message="tns:EnviarEmailHttpGetIn" />
      <wsdl:output message="tns:EnviarEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizaToDo">
      <wsdl:input message="tns:FinalizaToDoHttpGetIn" />
      <wsdl:output message="tns:FinalizaToDoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUsuarioWeb">
      <wsdl:input message="tns:CreateUsuarioWebHttpGetIn" />
      <wsdl:output message="tns:CreateUsuarioWebHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsSBHttpPost">
    <wsdl:operation name="getPedidos">
      <wsdl:input message="tns:getPedidosHttpPostIn" />
      <wsdl:output message="tns:getPedidosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <wsdl:input message="tns:getPedidoHttpPostIn" />
      <wsdl:output message="tns:getPedidoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SomethingTodo">
      <wsdl:input message="tns:SomethingTodoHttpPostIn" />
      <wsdl:output message="tns:SomethingTodoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimento">
      <wsdl:input message="tns:getDadosEstabelecimentoHttpPostIn" />
      <wsdl:output message="tns:getDadosEstabelecimentoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimentoByCNPJ">
      <wsdl:input message="tns:getDadosEstabelecimentoByCNPJHttpPostIn" />
      <wsdl:output message="tns:getDadosEstabelecimentoByCNPJHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <wsdl:input message="tns:getInfosHttpPostIn" />
      <wsdl:output message="tns:getInfosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getItensPedido">
      <wsdl:input message="tns:getItensPedidoHttpPostIn" />
      <wsdl:output message="tns:getItensPedidoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getItensAdicioanis">
      <wsdl:input message="tns:getItensAdicioanisHttpPostIn" />
      <wsdl:output message="tns:getItensAdicioanisHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DadosCliente">
      <wsdl:input message="tns:DadosClienteHttpPostIn" />
      <wsdl:output message="tns:DadosClienteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadParameter">
      <wsdl:input message="tns:LoadParameterHttpPostIn" />
      <wsdl:output message="tns:LoadParameterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMaquinaImpressao">
      <wsdl:input message="tns:SetMaquinaImpressaoHttpPostIn" />
      <wsdl:output message="tns:SetMaquinaImpressaoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TimeClear">
      <wsdl:input message="tns:TimeClearHttpPostIn" />
      <wsdl:output message="tns:TimeClearHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvarParametro">
      <wsdl:input message="tns:SalvarParametroHttpPostIn" />
      <wsdl:output message="tns:SalvarParametroHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getEnderecoUsuarioweb">
      <wsdl:input message="tns:getEnderecoUsuariowebHttpPostIn" />
      <wsdl:output message="tns:getEnderecoUsuariowebHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="listarFaturamento">
      <wsdl:input message="tns:listarFaturamentoHttpPostIn" />
      <wsdl:output message="tns:listarFaturamentoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEstabelecimentos">
      <wsdl:input message="tns:ListarEstabelecimentosHttpPostIn" />
      <wsdl:output message="tns:ListarEstabelecimentosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCep">
      <wsdl:input message="tns:ConsultarCepHttpPostIn" />
      <wsdl:output message="tns:ConsultarCepHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmaUrlEstabelecimento">
      <wsdl:input message="tns:ConfirmaUrlEstabelecimentoHttpPostIn" />
      <wsdl:output message="tns:ConfirmaUrlEstabelecimentoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <wsdl:input message="tns:EnviarEmailHttpPostIn" />
      <wsdl:output message="tns:EnviarEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizaToDo">
      <wsdl:input message="tns:FinalizaToDoHttpPostIn" />
      <wsdl:output message="tns:FinalizaToDoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUsuarioWeb">
      <wsdl:input message="tns:CreateUsuarioWebHttpPostIn" />
      <wsdl:output message="tns:CreateUsuarioWebHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSBSoap" type="tns:wsSBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPedidos">
      <soap:operation soapAction="http://sonicbliss.com.br/getPedidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <soap:operation soapAction="http://sonicbliss.com.br/getPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomethingTodo">
      <soap:operation soapAction="http://sonicbliss.com.br/SomethingTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimento">
      <soap:operation soapAction="http://sonicbliss.com.br/getDadosEstabelecimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimentoByCNPJ">
      <soap:operation soapAction="http://sonicbliss.com.br/getDadosEstabelecimentoByCNPJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <soap:operation soapAction="http://sonicbliss.com.br/getInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItensPedido">
      <soap:operation soapAction="http://sonicbliss.com.br/getItensPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItensAdicioanis">
      <soap:operation soapAction="http://sonicbliss.com.br/getItensAdicioanis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DadosCliente">
      <soap:operation soapAction="http://sonicbliss.com.br/DadosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadParameter">
      <soap:operation soapAction="http://sonicbliss.com.br/LoadParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaquinaImpressao">
      <soap:operation soapAction="http://sonicbliss.com.br/SetMaquinaImpressao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeClear">
      <soap:operation soapAction="http://sonicbliss.com.br/TimeClear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarParametro">
      <soap:operation soapAction="http://sonicbliss.com.br/SalvarParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnderecoUsuarioweb">
      <soap:operation soapAction="http://sonicbliss.com.br/getEnderecoUsuarioweb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFaturamento">
      <soap:operation soapAction="http://sonicbliss.com.br/listarFaturamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEstabelecimentos">
      <soap:operation soapAction="http://sonicbliss.com.br/ListarEstabelecimentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCep">
      <soap:operation soapAction="http://sonicbliss.com.br/ConsultarCep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaUrlEstabelecimento">
      <soap:operation soapAction="http://sonicbliss.com.br/ConfirmaUrlEstabelecimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <soap:operation soapAction="http://sonicbliss.com.br/EnviarEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailPadrao">
      <soap:operation soapAction="http://sonicbliss.com.br/EnviarEmailPadrao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizaToDo">
      <soap:operation soapAction="http://sonicbliss.com.br/FinalizaToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUsuarioWeb">
      <soap:operation soapAction="http://sonicbliss.com.br/CreateUsuarioWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JSONStringify">
      <soap:operation soapAction="http://sonicbliss.com.br/JSONStringify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSBSoap12" type="tns:wsSBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPedidos">
      <soap12:operation soapAction="http://sonicbliss.com.br/getPedidos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <soap12:operation soapAction="http://sonicbliss.com.br/getPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomethingTodo">
      <soap12:operation soapAction="http://sonicbliss.com.br/SomethingTodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimento">
      <soap12:operation soapAction="http://sonicbliss.com.br/getDadosEstabelecimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimentoByCNPJ">
      <soap12:operation soapAction="http://sonicbliss.com.br/getDadosEstabelecimentoByCNPJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <soap12:operation soapAction="http://sonicbliss.com.br/getInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItensPedido">
      <soap12:operation soapAction="http://sonicbliss.com.br/getItensPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItensAdicioanis">
      <soap12:operation soapAction="http://sonicbliss.com.br/getItensAdicioanis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DadosCliente">
      <soap12:operation soapAction="http://sonicbliss.com.br/DadosCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadParameter">
      <soap12:operation soapAction="http://sonicbliss.com.br/LoadParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaquinaImpressao">
      <soap12:operation soapAction="http://sonicbliss.com.br/SetMaquinaImpressao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeClear">
      <soap12:operation soapAction="http://sonicbliss.com.br/TimeClear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarParametro">
      <soap12:operation soapAction="http://sonicbliss.com.br/SalvarParametro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnderecoUsuarioweb">
      <soap12:operation soapAction="http://sonicbliss.com.br/getEnderecoUsuarioweb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFaturamento">
      <soap12:operation soapAction="http://sonicbliss.com.br/listarFaturamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEstabelecimentos">
      <soap12:operation soapAction="http://sonicbliss.com.br/ListarEstabelecimentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCep">
      <soap12:operation soapAction="http://sonicbliss.com.br/ConsultarCep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaUrlEstabelecimento">
      <soap12:operation soapAction="http://sonicbliss.com.br/ConfirmaUrlEstabelecimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <soap12:operation soapAction="http://sonicbliss.com.br/EnviarEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailPadrao">
      <soap12:operation soapAction="http://sonicbliss.com.br/EnviarEmailPadrao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizaToDo">
      <soap12:operation soapAction="http://sonicbliss.com.br/FinalizaToDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUsuarioWeb">
      <soap12:operation soapAction="http://sonicbliss.com.br/CreateUsuarioWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JSONStringify">
      <soap12:operation soapAction="http://sonicbliss.com.br/JSONStringify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSBHttpGet" type="tns:wsSBHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getPedidos">
      <http:operation location="/getPedidos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <http:operation location="/getPedido" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomethingTodo">
      <http:operation location="/SomethingTodo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimento">
      <http:operation location="/getDadosEstabelecimento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimentoByCNPJ">
      <http:operation location="/getDadosEstabelecimentoByCNPJ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <http:operation location="/getInfos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItensPedido">
      <http:operation location="/getItensPedido" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItensAdicioanis">
      <http:operation location="/getItensAdicioanis" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DadosCliente">
      <http:operation location="/DadosCliente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadParameter">
      <http:operation location="/LoadParameter" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaquinaImpressao">
      <http:operation location="/SetMaquinaImpressao" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeClear">
      <http:operation location="/TimeClear" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarParametro">
      <http:operation location="/SalvarParametro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnderecoUsuarioweb">
      <http:operation location="/getEnderecoUsuarioweb" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFaturamento">
      <http:operation location="/listarFaturamento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEstabelecimentos">
      <http:operation location="/ListarEstabelecimentos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCep">
      <http:operation location="/ConsultarCep" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaUrlEstabelecimento">
      <http:operation location="/ConfirmaUrlEstabelecimento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <http:operation location="/EnviarEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizaToDo">
      <http:operation location="/FinalizaToDo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUsuarioWeb">
      <http:operation location="/CreateUsuarioWeb" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSBHttpPost" type="tns:wsSBHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getPedidos">
      <http:operation location="/getPedidos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <http:operation location="/getPedido" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomethingTodo">
      <http:operation location="/SomethingTodo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimento">
      <http:operation location="/getDadosEstabelecimento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDadosEstabelecimentoByCNPJ">
      <http:operation location="/getDadosEstabelecimentoByCNPJ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <http:operation location="/getInfos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItensPedido">
      <http:operation location="/getItensPedido" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItensAdicioanis">
      <http:operation location="/getItensAdicioanis" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DadosCliente">
      <http:operation location="/DadosCliente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadParameter">
      <http:operation location="/LoadParameter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMaquinaImpressao">
      <http:operation location="/SetMaquinaImpressao" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeClear">
      <http:operation location="/TimeClear" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarParametro">
      <http:operation location="/SalvarParametro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnderecoUsuarioweb">
      <http:operation location="/getEnderecoUsuarioweb" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFaturamento">
      <http:operation location="/listarFaturamento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEstabelecimentos">
      <http:operation location="/ListarEstabelecimentos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCep">
      <http:operation location="/ConsultarCep" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaUrlEstabelecimento">
      <http:operation location="/ConfirmaUrlEstabelecimento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <http:operation location="/EnviarEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizaToDo">
      <http:operation location="/FinalizaToDo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUsuarioWeb">
      <http:operation location="/CreateUsuarioWeb" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsSB">
    <wsdl:port name="wsSBSoap" binding="tns:wsSBSoap">
      <soap:address location="http://localhost:10402/wsSB.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSBSoap12" binding="tns:wsSBSoap12">
      <soap12:address location="http://localhost:10402/wsSB.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSBHttpGet" binding="tns:wsSBHttpGet">
      <http:address location="http://localhost:10402/wsSB.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSBHttpPost" binding="tns:wsSBHttpPost">
      <http:address location="http://localhost:10402/wsSB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>